@import '~normalize.css';
@font-face {
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}
body {
  background-color: #dd9689;
  font-family: Comfortaa;
}
#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#mainWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
.modalCheckBoxDiv {
  display: flex;
  justify-content: space-between;
}
.prevPass {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1025px) {
  #mainWindow {
    width: 60vw;
  }
}
@media (max-width: 800px) {
  #mainWindow {
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  #main {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  #mainWindow {
    width: 80vw;
  }
}
